#navbar {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    padding: 1em;


}


.search {
    grid-row: 1;
    grid-column: 24/25;
}

#navbar>ul {
    grid-row: 1;
    grid-column: 2/5;
}

img.search {
    width: 18px;
    justify-self: right;
}

#logo {
    grid-column: 11/15;
    height: 18px;
}

.dropdown {

    grid-column: 1/2;
    grid-row: 1;
}

/* 
#logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 18px;
} */


#navbar>ul>li>a {
    font-family: 'Nunito';
    text-decoration: none;
    color: #1A191E;
}

#navbar>ul>li>a:hover {

    opacity: 70%;
}

#navbar>ul {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    font-family: 'Nunito';
    text-transform: uppercase;
    font-weight: 400;
    color: #1A191E;
}

#navbar>ul>li {
    display: flex;
    padding: 0 1em;
    font-size: 0.8em;
    font-weight: bold;
}

#socialBar--top {
    position: absolute;
    top: 160px;
    margin-left: 2em;
    padding: 0;
}

#socialBar--top ul {
    list-style: none;
    padding: 0;
}

#socialBar--top li {
    margin: 1.5em 0;

}

#socialBar--top .rotate {

    position: absolute;
    top: 320px;
    font-size: 0.9em;

    transform: rotate(-90deg);

}

#socialBar--top svg {
    height: 1em;
    fill: black;

}

#socialBar--top svg:hover {
    fill: #B5D3D3;

}

.line {

    position: absolute;
    width: 60px;
    border: solid 1px black;
    bottom: 10px;
    left: 60px;

}





.dropdown ul {

    list-style: none;
    padding: 0;

}

.dropdown li {
    padding: 0.5em;
}

.dropdown a {
    font-family: 'Nunito';
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

.dropdown a:hover {
    font-weight: 100;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-image: linear-gradient(90deg, rgba(199, 220, 221, 1) 0%, rgba(208, 226, 226, 1) 100%);
    z-index: 1;
}



.dropdown:hover .dropdown-content {
    display: block;
    animation: bounceInDown 1s;


}

@keyframes bounceInDown {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* client */

#socialBar--top-client {
    position: absolute;
    top: 120px;
    margin-left: 2em;
    padding: 0;
}

#socialBar--top-client ul {
    list-style: none;
    padding: 0;
}

#socialBar--top-client li {
    margin: 1.5em 0;

}

#socialBar--top-client .rotate {

    position: absolute;
    top: 320px;
    font-size: 0.9em;

    transform: rotate(-90deg);

}