#navbar {
    padding: 1em;
    position: relative;
    display: flex;
    /* background-color: rgba(255, 105, 180, 0.562); */
    justify-content: space-between;
    align-items: center;
}

img.search {
    width: 18px;
}

#logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 18px;
}

#navbar ul {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    font-family: 'Nunito';
    text-transform: uppercase;
    font-weight: 400;
    color: #1A191E;
}

#navbar li {
    display: flex;
    padding: 0 1em;
    font-size: 0.8em;
    font-weight: bold;
}

#socialBar--top {
    position: absolute;
    top: 190px;
    margin-left: 2em;
    padding: 0;
}

#socialBar--top ul {
    list-style: none;
    padding: 0;
}

#socialBar--top li {
    margin: 1.5em 0;

}

#socialBar--top .rotate {

    position: absolute;
    top: 320px;
    font-size: 0.9em;

    transform: rotate(-90deg);

}

.line {

    position: absolute;
    width: 60px;
    border: solid 1px black;
    bottom: 10px;
    left: 60px;

}
/* client */

#socialBar--top-client {
    position: absolute;
    top: 120px;
    margin-left: 2em;
    padding: 0;
}
#socialBar--top-client ul {
    list-style: none;
    padding: 0;
}

#socialBar--top-client li {
    margin: 1.5em 0;

}

#socialBar--top-client .rotate {

    position: absolute;
    top: 320px;
    font-size: 0.9em;

    transform: rotate(-90deg);

}