/* couleur des buttons  : #ACD6D4
couleur logo Mitalent : #333333
couleur de fond d'images photos portrait : #D8D8D6 
couleur de fond de la page : #E5E5E5

*/

body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;

}

#main-container {
    width: 900px;
    min-height: 600px;
    background-color: white;
    margin: auto;
}


/* Section Quentin */



/* Section Noah */



/* Section Thomas */

/* .parent {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: 135px 50px 40px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 3; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }
    .div7 { grid-area: 2 / 3 / 4 / 4; }  */

/* Section Safiye */