/* couleur des buttons  : #ACD6D4
couleur logo Mitalent : #333333
couleur de fond d'images photos portrait : #D8D8D6 
couleur de fond de la page : #E5E5E5

*/

body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;

}

#main-container {
    width: 900px;
    min-height: 600px;
    background-color: white;
    margin: auto;
}


/* Section Quentin */



/* Section Noah */



/* Section Thomas */



/* Section Safiye */